body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #2d2d2d;
    color: white;
}

.container {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.top-bar {
    background-color: #232323;
    color: #a1a1a1;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
}

.search-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.back-icon {
    display: none;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.search-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #a1a1a1;
    height: 25px;
    width: 175px;
}
.dropdown-menu{
    padding: 4px 10px;
    background-color:#BEBEBE ;
    width: 250px;
}
.dropdown-menu .sortItems{
    padding-top: 20px;
    margin-left: 20px;
}
.dropdown-item{
    color: #000000;
}
.sub-menu:hover .dropdown-submenu {
    display: block;
  }
  
.sorting-btn{
    padding: 0px;
}
.sorting-hover{
    background-color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
}
.sorting-hover:hover{
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
}
.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
}

.sidenav .newbtn {
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.sidenav .separator {
    height: 1000px;
    width: 100%;
}

.sideBtns {
    text-align: center;
}

main {
    margin-left: 100px;
    padding: 15px;
}

.toDo {
    display: grid;
    grid-template-columns: 75% 7% 10% 1fr;
    font-size: x-large;
    border-right: #a1a1a1 2px solid;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 10px;
}

.nameContainer {
    background-color: aqua;
    border-radius: 10px;
    height: 95%;
    padding: 5px 0;
    overflow: hidden;
}

.name {
    background-color: #2d2d2daa;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
}

.name img {
    padding-bottom: 3px;
}


.toDoAddName {
    padding: 5px;
    font-size: 23px;
    border: solid 5px #5e5e5e;
    border-radius: 20px;
    background-color: #5e5e5e;
    height: 40px;
    width: 100%;
    color: #dbdbdb;
}

::placeholder {
    color: #dbdbdb;
    font-size: 23px;
}

.toDoAddState {
    align-items: center;
    display: grid;

}

.toDoAddStateText {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.toDoAddSubtask {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 300px;
    width: 95%;
    overflow: auto;
    background-color: #2d2d2d;
    color: white;
    font-family: sans-serif;
    padding: 10px;
}

.custom-range::-webkit-slider-thumb {
    background-color: white;
    border: 1px solid #dee2e6;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.4rem;
}

.custom-range::-moz-range-thumb {
    background-color: white;
    border: 1px solid #dee2e6;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.4rem;
}

.custom-range::-ms-thumb {
    background-color: white;
    border: 1px solid #dee2e6;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.4rem;
}

.custom-range::-webkit-slider-runnable-track {
    background-color: black;
}

.custom-range::-moz-range-track {
    background-color: black;
}

.custom-range::-ms-track {
    background-color: black;
}

.custom-range::-moz-range-progress {
    background-color: white;
}

.custom-range::-ms-fill-lower {
    background-color: white;
}

.leftState {
    text-align: left;
}

.centerState {
    text-align: center;
}

.rightState {
    text-align: right;
}

.toDoAddRight {
    display: grid;
    grid-template-rows: 1fr 1px 1fr;
}

.toDoAddRightCenter {
    text-align: center;
}

.colorPicker {
    width: 300px;
    height: 300px;
}

.colorLabel {
    text-align: left;
}

.Labels {
    font-size: x-large;
    color: #AFAFAF;
    font-weight: bold;
}

.create-btn {
    border: black solid 2px;
    font-size: x-large;
    background-color: #005e24;
    color: #fff;
    padding: 15px 40px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.create-btn:hover {
    background-color: #058a3e;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.editToDo-btn {
    border: black solid 2px;
    font-size: x-large;
    background-color: #646464;
    color: #fff;
    padding: 15px 40px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.editToDo-btn:hover {
    background-color: #555555;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.create {
    text-align: center;
}

.edit {
    text-align: center;
}
.back-icon{
    margin: 3px;
}

.highlight {
    background-color: red;
    opacity: 0.5;
    border-radius: 30%;
}

.highlight2 img:hover {
    background-color: red;
    opacity: 0.5;
    border-radius: 30%;
}

.hover:hover {
    border-color: #a1a1a1;
}

.hover {
    border: 4px solid;
    border-color: #232323;
    border-radius: 20%;
    padding: 5px;
    padding: 10px;
}

.hover2:hover {
    border-color: #a1a1a1;
}

.hover2 {
    border: 4px solid;
    border-color: #2d2d2d;
    border-radius: 20%;
    padding: 5px;
    padding: 10px;
}

.toDo-Remove {
    display: grid;
    grid-template-columns: 75% 7% 10% 1fr;
    font-size: x-large;
    border-right: #a1a1a1 2px solid;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 10px;
}

.toDoAddSubTaskName {
    margin-bottom: 40px;
    border-bottom: #a1a1a1 1px solid;
}

input[type="date"] {
    background-color: #c0c0c0;
    padding: 20px;
    width: 218px;
    height: 100px;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #a1a1a1;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.alertDiv {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    text-align: center;

}

.alert {
    word-wrap: break-word;
}

.modal-body,
.modal-footer,
.modal-header {
    background-color: #494949;
}

@media only screen and (max-width:1200px) {
    .title {
        display: none;
    }
}

@media only screen and (max-width:800px) {
    .sidenav {
        display: none;
    }

    main {
        margin-left: 0px;
    }

}

@media only screen and (min-width:800px) {

    .top-button {
        display: none;
    }
}

@media only screen and (min-width:800px) {
    #toDoS {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width:1200px) {
    #toDoS {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .toDoAddState {
        padding-left: 20px;
    }

}

@media only screen and (min-width:800px) {
    #toDoS-Remove {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .top-button {
        display: none;
    }

}

@media only screen and (min-width:1200px) {
    #toDoS-Remove {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width:700px) {
    .toDoAddName_State {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .toDoAddSubTaskName {
        display: grid;
        width: 100%;
        grid-template-columns: min-content 1fr 1fr;
    }

    .toDoAddRightCenter {
        height: min-content;
    }

    .toDoAddSubtask {
        margin-top: 5px;
        margin-bottom: 30px;
        height: 300px;
        width: 95%;
        overflow: auto;
        background-color: #2d2d2d;
        color: white;
        font-family: sans-serif;
        padding: 10px;
    }

    .toDoAddName_State {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width:1300px) {
    .toDoAddContainer {
        display: grid;
        grid-template-columns: 60% 1fr;
    }

    .toDoAddName_State {
        display: grid;
        width: 95%;
        grid-template-columns: 1fr 1fr 10%;
        margin: 0px;
    }

    .toDoAddSubTaskName {
        display: grid;
        width: 95%;
        grid-template-columns: min-content 1fr 1fr;

    }

    .toDoAddSubtask {
        margin-top: 5px;
        height: 500px;
        width: 95%;
        overflow: auto;
        background-color: #2d2d2d;
        color: white;
        font-family: sans-serif;
        padding: 10px;
    }

}

@media only screen and (max-width:350px) {
    .search-icon {
        display: none;
    }

}